# Exercicios de Teste de Hipotese Sa√∫de

In [2]:
import pandas as pd
from scipy.stats import ttest_rel, ttest_ind, ttest_1samp, norm

In [3]:
df = pd.read_csv('Base_de_Dados_-_Efeitos_do_Medicamento.csv')
df.tail()

,id,sexo,idade,peso,altura,hdl_antes,hdl_depois,ldl_antes,ldl_depois
195,196,F,44,75.5,1.65,49.5,50.9,151.5,146.1
196,197,F,54,70.8,1.73,34.4,33.7,134.9,141.6
197,198,F,44,81.8,1.78,46.0,48.9,147.8,134.2
198,199,M,48,75.7,1.46,55.0,50.0,136.2,108.2
199,200,M,37,70.7,1.72,55.3,61.1,151.1,141.7

In [4]:
df.describe()

,id,idade,peso,altura,hdl_antes,hdl_depois,ldl_antes,ldl_depois
count,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,100.500000,50.765000,71.803500,1.680100,49.50200,52.257000,141.430500,135.699000
std,57.879185,17.714366,11.709895,0.105554,10.40752,11.378497,19.887751,22.314301
min,1.000000,20.000000,44.900000,1.410000,23.40000,21.000000,95.000000,84.300000
25%,50.750000,37.000000,63.775000,1.620000,42.15000,44.300000,128.150000,120.600000
50%,100.500000,51.000000,71.100000,1.675000,49.80000,51.900000,141.100000,134.150000
75%,150.250000,67.000000,80.525000,1.750000,55.95000,59.800000,153.450000,151.275000
max,200.000000,79.000000,102.800000,1.960000,76.40000,83.400000,199.300000,201.500000



## üìå Introdu√ß√£o

O colesterol √© uma subst√¢ncia lip√≠dica essencial ao organismo. Ele √© transportado no sangue por lipoprote√≠nas, sendo as principais:

- **HDL (High-Density Lipoprotein)** ‚Äì conhecido como "colesterol bom"
- **LDL (Low-Density Lipoprotein)** ‚Äì conhecido como "colesterol ruim"

---

## üß™ Conceitos Te√≥ricos

### üîπ HDL (Colesterol Bom)

- Remove o excesso de colesterol da corrente sangu√≠nea.
- Transporta o colesterol de volta ao f√≠gado.
- Est√° associado √† prote√ß√£o contra doen√ßas cardiovasculares.
- Valores mais altos s√£o geralmente desej√°veis.

### üîπ LDL (Colesterol Ruim)

- Transporta colesterol do f√≠gado para os tecidos.
- Pode se acumular nas paredes das art√©rias.
- Est√° associado ao desenvolvimento de aterosclerose.
- Valores elevados aumentam o risco cardiovascular.

---

## üìä Vari√°veis Importantes no Dataset

### 1Ô∏è‚É£ Idade

- Pode influenciar diretamente os n√≠veis de LDL e HDL.
- O risco cardiovascular aumenta com o envelhecimento.

---

### 2Ô∏è‚É£ Peso

- Excesso de peso pode:
  - Aumentar LDL
  - Diminuir HDL
- Est√° associado a maior risco metab√≥lico.

---

### 3Ô∏è‚É£ G√™nero

- Diferen√ßas hormonais podem influenciar o perfil lip√≠dico.
- Mulheres antes da menopausa tendem a ter HDL mais alto.
- Homens geralmente apresentam risco cardiovascular mais precoce.

In [5]:
df.head()

   id sexo  idade  peso  altura  hdl_antes  hdl_depois  ldl_antes  ldl_depois
0   1    M     51  72.1    1.91       47.3        44.9      127.3       122.0
1   2    F     58  55.4    1.72       59.5        67.1      159.9       145.4
2   3    M     68  82.6    1.64       47.5        41.7      134.5       120.8
3   4    M     71  85.9    1.87       63.0        71.7      139.5       124.7
4   5    M     51  78.8    1.80       43.2        39.6      136.5       141.2

In [6]:
def avaliar_hipotese(p_valor, alpha=0.05):
    """
    Avalia o resultado de um teste de hip√≥tese.
    
    Args:
        p_valor (float): O p-valor calculado no teste.
        alpha (float): O n√≠vel de signific√¢ncia (padr√£o 0.05).
    """
    print(f"P-valor: {p_valor:.4f} | Alpha: {alpha}")
    print("-" * 30)
    
    if p_valor < alpha:
        resultado = "REJEITAR a Hip√≥tese Nula (H0)"
        conclusao = "Existe evid√™ncia estat√≠stica significativa para a mudan√ßa."
    else:
        resultado = "N√ÉO REJEITAR a Hip√≥tese Nula (H0)"
        conclusao = "N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa."
    
    print(f"Decis√£o: {resultado}")
    print(f"Conclus√£o: {conclusao}")

In [7]:
d1 = df[(df['sexo'] == 'F') & (df['idade'] > 50)]

t1, p1 = ttest_rel(d1['hdl_depois'], d1['hdl_antes'], alternative='greater')

avaliar_hipotese(p1)

print('\n\nA)d\nB)b')

P-valor: 0.0000 | Alpha: 0.05
------------------------------
Decis√£o: REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: Existe evid√™ncia estat√≠stica significativa para a mudan√ßa.


A)d
B)b

In [8]:
ldl_homens = df[(df['sexo'] == 'M')]['ldl_depois']
ldl_mulheres = df[(df['sexo'] == 'F')]['ldl_depois']

t2, p2 = ttest_ind(ldl_homens, ldl_mulheres, alternative='two-sided')

avaliar_hipotese(p2)
print('\n\nA)a\nB)a')

P-valor: 0.4252 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.


A)a
B)a

In [9]:
Sexo_Homens = df[(df['sexo'] == 'M')]

t3, p3 = ttest_rel(Sexo_Homens['ldl_depois'], Sexo_Homens['ldl_antes'], alternative='less')

avaliar_hipotese(p3)

print('\n\nA)b\nB)b')

P-valor: 0.0000 | Alpha: 0.05
------------------------------
Decis√£o: REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: Existe evid√™ncia estat√≠stica significativa para a mudan√ßa.


A)b
B)b

In [10]:
d4 = df[(df['idade'] > 60)]['hdl_antes']

t4, p4 = ttest_1samp(d4, popmean=50, alternative='two-sided' )

avaliar_hipotese(p4)

print('\n\nA)b\nB)a')

P-valor: 0.4862 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.


A)b
B)a

In [11]:
d5 = df[df['peso'] > 90]

t5, p5 = ttest_rel(d5['hdl_depois'], d5['hdl_antes'], alternative='less')

avaliar_hipotese(p5)

print('\n\nA)c\nB)a')

P-valor: 0.9899 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.


A)c
B)a

In [15]:
df.head()

   id sexo  idade  peso  altura  hdl_antes  hdl_depois  ldl_antes  ldl_depois
0   1    M     51  72.1    1.91       47.3        44.9      127.3       122.0
1   2    F     58  55.4    1.72       59.5        67.1      159.9       145.4
2   3    M     68  82.6    1.64       47.5        41.7      134.5       120.8
3   4    M     71  85.9    1.87       63.0        71.7      139.5       124.7
4   5    M     51  78.8    1.80       43.2        39.6      136.5       141.2

In [17]:
d6 = df[(df['sexo'] == 'M') & (df['idade'] < 40)]

t6, p6 = ttest_rel(d6['hdl_depois'], d6['hdl_antes'], alternative='greater')

avaliar_hipotese(p6)

print('\n\nA)d\nB)a')

P-valor: 0.0000 | Alpha: 0.05
------------------------------
Decis√£o: REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: Existe evid√™ncia estat√≠stica significativa para a mudan√ßa.


A)d
B)a

In [ ]:
d7 = df[df['idade'] > 65]['ldl_depois']

t7, p7 = ttest_1samp(d7, popmean=135, alternative='two-sided')

avaliar_hipotese(p7)

print('\n\nA)b\nB)b')

P-valor: 0.8815 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.


A)d
B)a

In [ ]:
d8 = df[(df['sexo'] == 'F') & (df['peso'] < 60)]

t8, p8 = ttest_rel(d8['hdl_depois'], d8['hdl_antes'], alternative='less')

avaliar_hipotese(p8)

print('\n\nA)c\nB)b')

P-valor: 0.9395 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.

In [ ]:
d9 = df[['idade', 'ldl_depois']]

t9, p9 = ttest_ind(d9[d9['idade'] >= 40]['ldl_depois'], d9[d9['idade'] < 40]['ldl_depois'], alternative='two-sided')

avaliar_hipotese(p9)


print('\n\nA)c\nB)a')

P-valor: 0.4019 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.

In [ ]:
d10 = df[df['altura'] > 1.80]['hdl_antes']

t10, p10 = ttest_1samp(d10, popmean=50, alternative='two-sided')


avaliar_hipotese(p10)


print('\n\nA)b\nB)b')

P-valor: 0.8597 | Alpha: 0.05
------------------------------
Decis√£o: N√ÉO REJEITAR a Hip√≥tese Nula (H0)
Conclus√£o: N√£o h√° evid√™ncia estat√≠stica suficiente para afirmar a mudan√ßa.